.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .welcome-text {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .welcome-text.show {
    opacity: 1;
    transform: translateY(0);
  }

  